<section class="login-section">
    <div class="container">
        <div class="row ">
            <div class="col login-sec">
                <h2 class="text-title">Login</h2>
                <form class="login-form" action="" #f="ngForm" novalidate (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" class="form-control form__input" name="username" id="username"
                            placeholder="Username" [(ngModel)]="formdata.username" #username="ngModel" required>
                        <label for="username" class="text-uppercase form__label">Username</label>
                        <span class="text-danger" *ngIf="errorMessage.username !== ''">
                            {{errorMessage.username}}
                        </span>
                    </div>
                    <div class="form-group">
                        <input class="form-control form__input" type="password" name="password" placeholder="password"
                            id="password" [(ngModel)]="formdata.password" #password="ngModel" required>
                        <label for="password" class="text-uppercase form__label">Password</label>
                        <span class="text-danger" *ngIf="errorMessage.password !== ''">
                            {{errorMessage.password}}
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn-login" value="Login"
                        (click)="submit=true">
                        <span class="text-danger" *ngIf="loginMessageError !== ''">
                            {{loginMessageError}}
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>